<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/fontawesome/css/all.min.css}" />
	<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/bootstrap/css/style.css}" />
</head>

<body style="background-color: #e6e6e6;">
	<div class="container-fluid w-75 mt-4" style="height: 400px;">
		<div id="header" class="row" style="background-color: #bdbdbd">
			<div id="header-content" class="col-12 d-flex align-items-center">
				<div id="close-button">
					<div id="minus-icon" class="h-100 w-100 d-flex justify-content-center align-items-center">
						<i class="fa-solid fa-minus fa-xs" style="color: #ffffff;"></i>
					</div>
				</div>
				<div class="h5 mx-2 mt-2" style="color: #0c535d">Configuration</div>
			</div>
		</div>
		<div id="add-new-content" class="text-center row d-flex flex-column bg-white justify-content-center align-items-center">
			<h1>Database connection error</h1>
			<p>Sorry, something went wrong on the server.</p>
			<button class="btn btn-primary mt-3 " style="width: 100px;" type="button" onclick="goBack()">Go
				Back</button>
		</div>

		<script type="text/javascript">
			function goBack() {
				window.history.back();
			}
		</script>
</body>

</html>